:host {
  .form-contol {
    border-radius: 5px;
    width: 600px;
    border-color: none zcxxv;
    margin-left: 20px;
  }
  .Search-icon {
    color: blue;
    position: absolute;
    z-index: 10;
    right: 45%;
    top: 27px;
  }
}
